* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  height: 1000px;
}

/* css 초기화 */
input:focus {
  outline: 1px solid rgb(46, 44, 44);
}


/* 공용 클래스 */